#nav-menu {
    background-color: #f8fafc;
    color: white;
}
#link {
    color: white;
    font-size: 22px;
}
.navbar-nav a {
    transition: 0.3s;
    font-size: 18px;
    color: #333;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
}
.navbar-nav a:hover {
    transition: 0.3s;
    color: #3585c7;
    padding: 10px;
}
span {
    font-weight: 700;
}
.start {
    color: rgb(247, 231, 7);
}
.ups {
    color: #3585c7;
}
.today {
    color: #333;
}
